*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background: black;
}
.container{
    width: 100%;
    margin: auto;
}
.row{
    display: flex;
    justify-content: space-around;
}
.row-1{
    margin-top: 10px;
    padding: 0;
}
.buy{
    background: rgb(0, 195, 255);
    color: white;
    font-size: 20px;
    padding: 5px 12px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}
.shop{
    background: red;
    color: white;
    font-size: 20px;
    padding: 5px 12px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
}
.row h3{
    color: white;
    font-weight: 500px;
    font-size: 24px;
    text-shadow: 4px 0 5px yellow;
    padding-top: 5px;
    padding-bottom: 5px;
}
.row a{
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 300px;
  padding-right: 12px;
  margin-right: 15px;  
}
.row a:hover{
    color:red
}
.nav-bg{
    background:grey;
    margin: 0;
    padding: 0;
    height: 80px;
    text-align: center;
}
.container-1{
    width: 90%;
    margin: auto;
    background: pink;
}
.form{
    margin-top: 5px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
     float: left;
     width: 300px;
     height: 40px;
     background-color: black;
     opacity: .8;
     line-height: 40px;
     text-align: center;
     font-size: 20px;
     margin-right: 2px;
     margin-top: 10px;
} 
ul li a {
    text-decoration: none;
    color:white;
    display: block;
}
ul li a:hover{
    background: green;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}
.form{
    margin-top: 5px;
}
.form input{
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    outline: none;
}
.form button{
    border-radius: 5px;
    border: none;
    outline: none;
    padding:5px;
    text-align: center;
    background:black;
    color: white;
}
section{
    background: black;
    width: 100vw;
    margin: 0;
    padding: 0;
}
footer{
    background: lightseagreen;
    height: 40px;
}